{% extends 'base.html' %}
{% block content %}
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Search by "{{ q }}"</h1>
                        <!--              <span class="color-text-a">Grid Properties</span>-->
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Search
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
        <div class="container">
            <div class="row">
                {% for c in search_items %}
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="/media/{{ c.logo1 }}/" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="/course/{{ c.id }}/">{{ c.name }}</a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">{{ c.type_course.name }}</span>
                                    </div>
                                    <a href="/course/{{ c.id }}/" class="link-a">Click here to view
                                        <span class="bi bi-chevron-right"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Duration</h4>
                                            <span>{{ c.duration }}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Price</h4>
                                            <span>{{ c.price }}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Experience</h4>
                                            <span>{{ c.teacher.experience }}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Teacher</h4>
                                            <span>{{ c.teacher.name }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Property Grid Single-->
</main>
<script src="/static/vendor/jquery-3.6.3.min.js"></script>
<script>
  $('.js-changes').change(function(){
    $(this).parents('form').submit();
  })
  $('.js-courses-active').addClass('active');

</script>
{% endblock %}

